* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
body {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
.contenedor {
    max-width: 1300px;
    width: 96%;
    margin: 0 auto;
}
.header {
    width: 100%;
    background: #422;
}
.header__titulo {
    font-size: 48px;
    color: #fff;
    padding: 2rem;
    text-align: center;
}
.navbar {
    width: 100%;
    display: block;
    background: #866;
    text-align: center;
}
.navbar__menu {
    padding: 15px;
    list-style: none;
}
.navbar__li {
    margin-bottom: 20px;
}
.navbar__a {
    color: #fff;
    padding: 8px;
    
    font-size: 20px;
}
.navbar__a:hover {
    background: rgba(0,0,0,.3);
}
.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background: #644;
    padding: 15px;
}
.footer__texto {
    font-size: 20px;
    color: #fff;
}
img {
    width: 36px;
}